<div class="banner">
	<div class="bann-left">
		<span class="bann-part"><img src="images/user.png"></span>
		<div class="bann-text">
			<h1>Want to add a user?</h1>
		</div>
	</div>
	<div class="bann-rit">
		<a href="#" ng-click="addUser()">ADD USER</a>
	</div>
	<div class="clearfix"> </div>
</div>
<!--part1 start here-->
<div class="bar-kit">
	<div class="col-md-5 header-bot-right-part-1">
		<!--latest activity strta here-->
		<div class="latest-activity">
			<div class="latest-act-top">
				<h4>LATEST ACTIVITY</h4>
				<span class="rocket"> </span>
				<div class="clearfix"> </div>
			</div>
			<div class="latest-act-bot">
				<ul>
					<li ng-repeat-start="a in activitiesArray"><span class="box"></span></li>
					<li ng-repeat-end="a in activitiesArray"><span class="line"> </span></li>
					<li><span class="box"></span></li>
				</ul>
				<div class="latest-today" ng-repeat="activity in activitiesArray | orderBy : '-date'" >
					<h4>{{getDate(activity.date)}}</h4>
					<h3 ng-if="activity.notification">Push notification</h3>
					<h3 ng-if="!activity.notification">User created</h3>
					<p ng-if="activity.notification">{{activity.text}} <strong>by</strong> <span class="todt-joe"> {{activity.author}} </span></p>
					<p ng-if="!activity.notification"><span class="todt-joe"> {{activity.email}}</span></p>
				</div>
			</div>
			<!--<div class="late-btn">
				<a href="#">LOAD MORE</a>
			</div>-->
		</div>
	</div>
	<!--part2 start here-->
	<div class="col-md-7 header-bot-right-part-2">
		<!--meeting strta here-->
		<div class="meeting">
			<div class="meeting-top">
				<h3>Templates</h3>
					<div class="bann-rit">
						<a href="#" ng-click="addTemplate()">ADD</a>
					</div>
				<div class="clearfix"> </div>
			</div>
			<div class="meet-search">
				<input type="text" placeholder="Search" ng-model="searchText" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"/>
				<input type="submit" value="">
			</div>
			<div class="menu_vertical">
				<section class="accordation_menu">
					<div ng-repeat="template in templateArray | orderBy : '-date' | filter: searchText" ng-if="template.online">
						<input id="label-{{$index}}" name="lida" type="radio" ng-checked="$first"/>
						<label for="label-{{$index}}" id="item{{$index}}"><i class="ferme"> </i> <span class="tickimg"><img src="images/check.png" alt=""><i> </i>{{template.title}}<strong  class="tad-timer"> <i class="tab-text-time">Last used {{getDate(template.date)}}</i></strong></span><small class="pen" ng-click="edit(template)"> </small> <i class="icon-plus-sign i-right1"> </i> <i class="icon-minus-sign i-right2" ng-click="remove(template)"></i> </label>
						<div class="content1" id="a1">
							<ul class="news_list">
								<li><img src="images/1.png" alt=""> </li>
								<li class="date_desc-auther"><p>{{getAuthor(template.author)}}</p></li>
								<li class="date_desc-timer"><p>Created {{getDate(template.created)}}</p></li>
							</ul>
							<div class="auther-para" compile="template.replaced">
							</div>
							<!--<div class="involed-people">
								<h4>PEOPLE INVOLVED:</h4>
								<img src="images/invitation.png" alt="">
							</div>-->
							<div class="bann-rit">
								<a href="#" ng-click="pushNotification(template.key)">PUSH</a>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</section>
			</div>
		</div>
	</div>